/* fonts */
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
      url('../fonts/Manrope-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
      url('../fonts/Manrope-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraLight.woff2') format('woff2'),
      url('../fonts/Manrope-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff2') format('woff2'),
      url('../fonts/Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Light.woff2') format('woff2'),
      url('../fonts/Manrope-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
      url('../fonts/Manrope-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
      url('../fonts/Manrope-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nanum Pen';
  src: url('../fonts/NanumPen.woff2') format('woff2'),
      url('../fonts/NanumPen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Colors Variables */
:root {
  --text-primary: #18191F;
  --white-primary: #FFFFFF;
  --brand-turquoise-back: #D5FAFC;
  --brand-turquoise: #2EC5CE;
  --black-primary: #0B0D17;
  --brand-purpple: #8C30F5;
  --text-secundary: #F4F5F7;
  --text-gray: #969BAB;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: var(--white-primary);
  font-family: 'Manrope';
  font-weight: 800;
  font-style: normal;
  color: var(--text-primary);
}
a {
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
}
ul {
  list-style: none;
}
button {
  border-style: none;
}
button:focus {
  outline: none;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
/* EDIT BAR */
.edit-bar {
  display: none;
  flex-direction: column;
  width: 20%;
  background: transparent;
  position: fixed;
  left: 26%;
  top: 5.2%;
}
.edit-bar--show {
  display: flex;
}
.edit-bar__title {
  font-weight: 800;
  font-style: normal;
}
.edit-bar__save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 27px;
  margin: 2px 0;
  border: var(--brand-purpple) 1px solid;
  border-radius: 10px;
  background-color: transparent;
}
/* -------HEADER-------- */
.header {
  width: 100%;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 50px;
  width: 100%;
  justify-content: space-between;
}
.header--scrolled {
  background-color: var(--brand-turquoise-back);
  position: fixed;
}
.logo {
  display: flex;
  justify-content: flex-start;
}
.navbar {
  display: none;
}
.navbar--mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.navbar__list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__item {
  margin: 30px 0; 
}
.navbar__item--active {
  border-bottom: var(--brand-purpple) 3px solid;
}

.navbar__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  margin: 20px 0;
  border: var(--brand-purpple) 1px solid;
  border-radius: 10px;
  background-color: var(--brand-purpple);
}
.navbar__contact:hover {
  background-color: var(--white-primary);
}
.navbar__contact-link {
  height: 100%;
  color: var(--white-primary);
  padding-top: 8px;
}
.navbar__contact-link:hover {
  color: var(--brand-purpple);  
}
.hamburger-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.x-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hamburger-btn--clicked, .x-btn--clicked {
  display: none;
}
.hamburger-btn--scrolled, .x-btn--scrolled {
  background-color: var(--brand-turquoise-back);
}
/* HERO */
.hero {
  width: 100%;
  background: linear-gradient(194.01deg, #D9E8EF 9.6%, #EAF2F5 89.64%);
}
.hero-container {
  display: grid;
  grid-template-columns: 1fr;
}
.hero__text {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.hero__title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 32px;
  text-align: center;
  padding: 10px 10px;
  align-self: end;
}
.hero__paragraph {
  font-weight: normal;
  font-size: 1rem;
  line-height: 32px;
  text-align: center;
  padding: 20px;
  align-self: start;
}
.hero__discover {
  display: grid;
  justify-content: center;
  width: 100%;
}
.hero__img {
  display: grid;
}
.hero__img-picture {
  width: 100%;
}
/* CLOUDS */

.clouds-container {
  display: grid;
  grid-template-columns: 1fr;  
}
.clouds__text {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  padding: 20px;
}
.clouds__title {
  width: 100%;
  font-weight: 800;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;  
}
.clouds__paragraph {
  width: 100%;
  font-weight: normal;
  font-size: 1rem;
  line-height: 32px;
  text-align: center;
}
.clouds__container {
  width: 100%;
  display: grid;
  background: url('../images/logo_clouds/circle.svg') no-repeat;
  background-size: 100%;
  background-position: top;
  padding: 20px 0;
}
.clouds__container-top {
  display: flex;
  justify-content: space-between;
}
.clouds__container-bottom {
  display: flex;
  justify-content: space-around;
  padding: 0 10%
}
.clouds__img {
  width: 80px;
  height: 80px;
  transition: all ease-in-out 400ms;
}
.clouds__img:hover {
  transform: scale(1.5, 1.5);
}
/* FEATURE-ONE */
.features-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 25px;
  grid-gap: 20px;
}
.features__text {
  grid-column: 1 / span 2;
  display: grid;
  margin-top: 20px;
  justify-content: center;
}
.features__title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;
}
.features__paragraph {
  font-weight: normal;
  font-size: 1rem;
  line-height: 32px;
  text-align: center;
  padding: 20px 35px;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 10px;
}
.card__icon {
  display: grid;
  justify-content: center;
  align-items: center;
}
.card__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
  text-align: center;
}
.card__paragraph {
  display: none;
  font-weight: normal;
  font-size: 1rem;
  line-height: 26px;
  text-align: center;
}
/* TESTIMONIALS */

.testimonials-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.testimonials__banner {
  background-color: var(--brand-turquoise);
  padding: 60px 0;
}
.testimonials__title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 32px;
  text-align: center;
  margin-bottom: 10px;
}
.testimonials__paragraph {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 32px;
  padding: 0 27px;
  text-align: center;
}
.testimonials__container {
  background-color: var(--brand-turquoise-back);
  padding: 30px 10px;
}
.carusel {
  background-color: var(--white-primary);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 5px;
}
.quotes {
  padding: 10px;
}
.quotes-img {
  width: 30px;
}
.carusel__text {
  font-weight: normal;
  font-size: 1rem;
  line-height: 32px;
  margin-bottom: 10px;
  padding: 10px;  
}
.slider-btns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 0;
}
.slider-btns__left, .slider-btns__right {
  background-color: var(--white-primary);
}
/* STATS */
.features--stats {
  grid-template-columns: 1fr;
  grid-gap: unset;
}
.cards-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card__paragraph--stats {
  display: grid;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  text-align: start;
  font-size: 1rem;
  line-height: 26px;
}
.card--stats {
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
}
.card__icon--stats {
  grid-row: 1 / span 2;
}
.card__title--stats {
  grid-column: 2 / span 1;
  text-align: start;
  font-weight: 800;
  font-size: 1rem;
  line-height: 30px;
}
/* FEATURE-TWO */
.feature-two-container {
  width: 100%;
  display: grid;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.feature-two__text {
  width: 100%;
  display: grid;
}
.feature-two__title {
  font-weight: 800;
  width: 100%;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;
  margin-bottom: 20px;
}
.feature-two__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 20px;
}
.feature-two__picture {
  width: 100%;
}
.feature-two__img {
  width: 100%;
}
/* CTA */
.cta {
  background-color: var(--brand-turquoise);
}
.cta-container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.cta__text {
  width: 100%;
  padding: 20px;
}
.cta__title {
  width: 100%;
  font-weight: 800;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;
  margin-bottom: 20px;
}
.cta__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: start;
  margin-bottom: 20px;
}
.cta__paragraph--all-line {
  grid-column: 1 / span 2;
}
.install-cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cta__pictures {
  width: 100%;
  background: url('../images/cta/phone-mockup1.png') no-repeat, url('../images/cta/phone_mockup2.png') no-repeat;
  background-size: 50%;
  background-position: 4rem 1rem, 9rem 6rem;
}
/* FOOTER */
.footer {
  background-color: var(--black-primary);
}
.footer-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  color: var(--text-secundary);
  padding: 30px 0 20px 0;
}
.install {
  display: grid;
  grid-column: 1 /span 2;
  grid-template-columns: 1fr 1fr;
}
.install__title {
  grid-column: 1 /span 2;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: center;
  
}
.install__item {
  display: grid;
  justify-content: center;
  align-items: center;
}
.support__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 28px;
  margin-bottom: 7px;
  text-align: start;
}
.legal__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 28px;
  margin-bottom: 10px;
  text-align: start;
}
.company {
  display: none;
  grid-gap: 4px;
}
.support {
  display: grid;
  grid-gap: 4px;
  padding-left: 27px;
}
.legal {
  display: grid;
  grid-gap: 4px;
  padding-left: 12px;
}

.support__item, .legal__item, .company__item {
  text-align: start;
  font-weight: normal;
  font-size: 1rem;
  line-height: 36px;
}
.support__item-link, .legal__item-link, .company__item-link {
  font-weight: normal;
  color: var(--text-gray);  
}
.mini-foot {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: 1fr;
  justify-content: center;
  padding-top: 5px;
}
.mini-foot::before {
  content: '';
  width: 100%;
  left: 0;
  top: 0;
  height: 1px;
  border-bottom: 1px solid var(--text-gray);
}
.social {
  display: grid;
  grid-column: 1 /span 2;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 5px;
  margin-top: 8px;
  padding-left: 40px;
}
.social__item {
  width: 40%;
  display: grid;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(150, 155, 171, 0.1);
}
.copyright {
  grid-column: 1 /span 2;
  font-size: 0.7rem;
  color: var(--text-gray);
  text-align: center;
}
/* ------------------------------------------------ */
/* TABLET */
/* HEADER */
@media screen and (min-width: 768px) {
  .header {
    position: absolute;
  }
  .header--scrolled {
    position: fixed;
  }
  .logo {
    width: 50%;
  }
  .navbar {
    display: flex;
    width: 50%;
  }
  .navbar__list {
    width: 100%;
    height: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .hamburger-btn, .x-btn {
    display: none;
  }
  .navbar__item {
    margin: 0 20px;
  }
  .navbar__contact {
    margin: 20px 10px;
    border: none;
    background-color: rgba(217, 232, 239, 0.89);
    border-radius: 10px;
  }
  .navbar__contact:hover {
    background-color: var(--brand-purpple);
    color: var(--white-primary); 
  }
  .navbar__contact-link {
    color: var(--text-primary);
    margin: 0 10px;
    padding-top: 9px;
  }
  .navbar__contact-link:hover {
    color: var(--white-primary);  
  }
  /* HERO */
  .hero-container {
    grid-template-columns: 1fr 1fr;
  }
  .hero__img {
    grid-column: 2 / span 1;
  }
  .hero__text {
    grid-row: 1 / span 1;
    padding: 88px 0;
  }
  .hero__title {
    padding: 10px 20px 10px 60px;
    text-align: start;
  }
  .hero__paragraph {
    padding-left: 55px;
    text-align: start;
  }
  .hero__discover {
    justify-content: start;
    padding-left: 50px;
  }
  /* CLOUDS */
  .clouds-container {
    grid-template-columns: 1fr 1fr;
  }
  .clouds__text {
    padding: 20px 0 36px 59px;
    margin: 0;
  }
  .clouds__title {
    text-align: left;
  }
  .clouds__paragraph {
    text-align: left;
  }
  .clouds__container {
    background-size: 80%;
    background-position: initial;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 100px;
  }
  .clouds__container-top, .clouds__container-bottom {
    width: 70%;
    height: 60px;
  }
  .clouds__img {
    width: 60px;
    height: 60px;
  }
  /* FEATURE-ONE */
  .features-container {
    padding: 30px 82px;
  }
  .features__paragraph {
    width: 545px;
    font-size: 1.125rem;
  }
  .card {
    grid-gap: 25px;
    padding: 14px;
  }
  .card__paragraph {
    display: grid;
  }
  /* TESTIMONIALS */
  .testimonials__title {
    font-size: 3rem;
    line-height: 64px;
  }
  .testimonials__paragraph {
    padding: 0 170px;
  }
  .testimonials__container {
    padding: 50px 24%;
  }
  .quotes {
    padding-left: 50px;
  }
  .quotes-img {
    width: 40px;
  }
  .carusel {
    grid-template-columns: 1fr 1fr;
  }
  .testimonial__quote-text {
    grid-column: 1 / span 2;
  }
  .slider-btns__left {
    padding-left: 39px;
  }
  .slider-btns__right {
    padding-left: 20px;
  }
  /* STATS */
  .features--stats {
    grid-template-columns: 1fr 1fr;
  }
  .features__text--stats {
    grid-column: 1 / span 1;
    padding-top: 77px;
    padding-bottom: 100px;
  }
  .cards-group {
    grid-column: 2 / span 1;
    grid-template-columns: 1fr;
  }
  .features__title--stats {
    font-size: 2rem;
    line-height: 44px;
  }
  .features__paragraph--stats {
    width: 100%;
  }
  .card--stats {
    grid-gap: 3px;
  }
  /* FEATURE TWO */
  .features-two-container {
    padding: 10px 74px;
  }
  /* CTA */
  .cta-content {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .cta__text {
    padding: 35px 72px;
  }
  .cta__title {
    text-align: start;
  }
  .install-cta__item--start {
    justify-content: start;
  }
  .cta__pictures {
    width: 100%;
    background-position: 5rem -1rem, 19rem 6rem;
  }
  /* FOOTER */
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .install {
    grid-column: 1 / span 3;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 30px;
  }
  .install__title {
    grid-column: 1 / span 2;
  }
  .company {
    display: grid;
    justify-self: center;
    padding-left: 80px;
  }
  .support {
    padding-left: 0;
    justify-self: center;
    padding-left: 60px;
  }
  .legal {
    justify-self: center;
    padding-right: 40px;
  }
  .company__title {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 28px;
    text-align: start;
    margin-bottom: 10px;
  }
  .support__title {
    text-align: start;
    margin-bottom: 10px;
  }
  .legal__title {
    text-align: start;
    margin-bottom: 10px;
  }
  .company__item, .support__item, .legal__item {
    text-align: start;
  }
  .mini-foot {
    grid-column: 1 / span 3;
    grid-template-columns: 1fr 1fr;
  }
  .social {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .copyright {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding-top: 15px;
  }
  .mini-foot::before {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
} 
/* ------------------------------------------- */
/* DESKTOP */
@media screen and (min-width: 1024px) {
  /* HEADER */
  .header-container {
    padding: 22px 142px 22px 100px;
  }
  .navbar__item {
    margin: 0 10px;
  }
  /* HERO */
  .hero__text {
    grid-template-rows: 1fr 0.2fr 0.5fr;
    padding: 100px 10px 0 44px;
  }
  .hero__title {
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 98px;
  }
  .hero__discover {
    align-self: start;
  }
  .hero__paragraph {
    font-size: 1.25rem;
  }
  /* CLOUDS */
  .clouds {
    grid-template-columns: 44% 56%;
  }
  .clouds__text {
    padding: 10% 6% 15% 26%;
  }
  .clouds__title {
    font-size: 3rem;
    line-height: 64px;
  }
  .clouds__paragraph {
    font-size: 1.125rem;
    line-height: 32px;
  }
  .clouds__container {
    grid-template-rows: 100px 100px;
    background-size: 550px;
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 61px;
  }
  .clouds__container-top {
    width: 450px;
  }
  .clouds__img {
    width: 104px;
    height: 104px;
  }
  .clouds__container-bottom {
    width: 400px;
    justify-content: center;
    margin-top: 10px;
    padding-left: 125px;
  }
  /* FEATURES-ONE */
  .features-container {
    padding: 30px 158px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 24px;
    grid-gap: 26px
  }
  .features__text {
    grid-column: 1 / span 3;
    margin-top: 4px;
  }
  .features__title {
    font-size: 3rem;
    line-height: 64px;
  }
  .features__paragraph {
    padding: 11px 0;
  }
  .card {
    padding: 19px 10px 10px 10px;
    grid-gap: 20px;
  }
  .card__paragraph {
    font-size: 0.8rem;
  }
  /* TESTIMONIALS */
  .testimonials-container {
    grid-template-columns: 49% 51%;
  }
  .testimonials__banner {
    height: 100%;
    display: grid;
    justify-content: center;
    padding-top: 0;
  }
  .testimonials__title {
    align-self: end;
    margin-bottom: 0;
    padding-left: 0;
  }
  .testimonials__paragraph {
    padding: 0 20%;
    text-align: start;
  }
  .testimonials__container {
    padding: 32px 23% 32px 0;
  }
  .carusel {
    grid-template-columns: 2fr 1fr;
    padding: 27px 40px 40px 40px;
    grid-gap: 19px;
  }
  .carusel__text {
    font-size: 1.125rem;
    padding: 0;
    margin-bottom: 28px;
  }
  .quotes {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    display: grid;
    justify-content: end;
    padding-right: 0;
  }
  .quotes-img {
    width: 80px;
    height: 68px;
  }
  .client {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
  .slider-btns {
    padding-left: 35px;
  }
  .slider-btns__left {
    padding-left: 52px;
    font-size: 1.2rem;
  }
  .slider-btns__right {
    font-size: 1.2rem;
    padding-left: 40px;
  }
  /* STATS */
  .features--stats {
    grid-template-columns: 1fr 1fr;
    padding: 0 165px;
    margin-bottom: 7.5%;
  }
  .features__text--stats {
    grid-column: 1 / span 1;
    padding-top: 12%;
    padding-left: 4%;
    padding-bottom: 0;;
  }
  .features__title--stats {
    font-weight: 800;
    font-size: 3rem;
    line-height: 64px;
    text-align: start;
  }
  .features__paragraph--stats {
    text-align: start;
    padding-left: 0;
  }
  .cards-group {
    grid-template-columns: 1fr 1fr;
    padding-top: 10%;
    padding-bottom: 0;
  }
  .card--stats {
    grid-template-columns: 1fr 3fr;
    grid-gap: 0;
    padding-top: 17px;
    padding-right: 40px;
  }
  .card__title--stats {
    font-size: 1.75rem;
    line-height: 40px;
  }
  .card__icon--stats {
    justify-content: start;
  }
  /* FEATURE TWO */
  .features-two-container {
    padding: 22px 12% 2.5% 164px;
    margin-bottom: 24px;
  }
  .feature-two__text {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 49px;
  }
  .feature-two__title {
    font-size: 2.5rem;
    line-height: 54px;
    text-align: left;
    padding-right: 10%;
    margin-bottom: 0;
  }
  .feature-two__paragraph {
    text-align: left;
    margin-bottom: 0;
    padding: 8px 0 0 18px;
  }
  .feature-two__picture {
    grid-column: 1 / span 2;
  }
  /* CTA */
  .cta-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .cta__text {
    padding: 10% 6% 10% 23%;
  }
  .cta__title {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 6px;
  }
  .cta__pictures {
    background-size: auto;
    background-position: 8% -6.5rem, 69% 8.5rem;
  }
  .cta__paragraph {
    margin-bottom: 45px;
  }
  .cta__paragraph--all-line {
    margin-bottom: 0;
  }
  .install-cta {
    grid-template-columns: 1fr 2.5fr;
  }
  .install-cta__item--start {
    padding-top: 5px;
  }
  /* FOOTER */
  .footer-container {
    height: 393px;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    padding-top: 54px;
    padding-bottom: 0;
    grid-gap: 0;
    
  }
  .company {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding-left: 28%;
    grid-gap: 0;
  }
  .support {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    padding-left: 33%;
    grid-gap: 0;
    padding-bottom: 22px;
  }
  .legal {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    padding-right: 8%;
    padding-left: 20px;
    grid-gap: 0;
  }
  .install {
    grid-column: 4 / span 1;
    grid-template-columns: 1fr;
    padding-left: 13%;
    grid-gap: 0;
    margin-bottom: 37px;
  }
  .install__title {
    padding-bottom: 0;
    text-align: left;
    grid-column: 1 / span 1;
    margin-bottom: 4px;
  }
  .install__item {
    justify-content: left;
    align-items: start;
  }
  .install__badge--medium {
    width: 162px;
    height: 48px;
  }
  .company__title, .legal__title {
    margin-bottom: -12px;
  }
  .support__title {
    margin-bottom: -30px;
  }
  .mini-foot {
    height: 45px;
    grid-template-columns: 2fr 1fr;
    grid-column: 1 / span 4;
    margin-top: 20px;
    padding-top: 18px;
  }
  .social {
    margin-top: 16px;
    padding: 0 34% 0 19%;
  }
  .social__item {
    width: 80%;
  }
  .copyright {
    text-align: start;
    padding-top: 24px;
    padding-left: 20%;
  }
}
/* -----------------END------------------ */
