/* fonts */
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
      url('../fonts/Manrope-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
      url('../fonts/Manrope-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraLight.woff2') format('woff2'),
      url('../fonts/Manrope-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff2') format('woff2'),
      url('../fonts/Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Light.woff2') format('woff2'),
      url('../fonts/Manrope-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
      url('../fonts/Manrope-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
      url('../fonts/Manrope-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nanum Pen';
  src: url('../fonts/NanumPen.woff2') format('woff2'),
      url('../fonts/NanumPen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Colors Variables */
:root {
  --text-primary: #18191F;
  --white-primary: #FFFFFF;
  --brand-turquoise-back: #D5FAFC;
  --brand-turquoise: #2EC5CE;
  --black-primary: #0B0D17;
  --brand-purpple: #8C30F5;
  --text-secundary: #F4F5F7;
  --text-gray: #969BAB;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: var(--white-primary);
  font-family: 'Manrope';
  font-weight: 800;
  font-style: normal;
  color: var(--text-primary);
}
a {
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
}
ul {
  list-style: none;
}
button {
  border-style: none;
}
button:focus {
  outline: none;
}

/* -------HEADER-------- */
.header {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 50px;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(217, 232, 239, 0.89);
}
.header--scrolled {
  background-color: var(--brand-turquoise-back);
  position: fixed;
}
.logo {
  display: flex;
  justify-content: flex-start;
}
.navbar {
  display: none;
}
.navbar--mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.navbar__list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__item {
  margin: 30px 0;
 
}
.navbar__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  margin: 20px 0;
  border: var(--brand-purpple) 1px solid;
  border-radius: 10px;
  background-color: var(--brand-purpple);
}
.navbar__contact:hover {
  background-color: var(--white-primary);
}
.navbar__contact-link {
  height: 100%;
  color: var(--white-primary);
  padding-top: 8px;
}
.navbar__contact-link:hover {
  color: var(--brand-purpple);  
}
.hamburger-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(217, 232, 239, 0.89);
}
.x-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(217, 232, 239, 0.89);
}
.hamburger-btn--clicked, .x-btn--clicked {
  display: none;
}
.hamburger-btn--scrolled, .x-btn--scrolled {
  background-color: var(--brand-turquoise-back);
}
/* HERO */
.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.hero__text {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(217, 232, 239, 0.89);
}
.hero__title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 32px;
  text-align: center;
  padding: 10px 10px;
  align-self: end;
}
.hero__paragraph {
  font-weight: normal;
  font-size: 1rem;
  line-height: 32px;
  text-align: center;
  padding: 20px;
  align-self: start;
}
.hero__discover {
  display: grid;
  justify-content: center;
  width: 100%;
}
.hero__img {
  display: grid;
}
.hero__img-picture {
  width: 100%;
}
/* CLOUDS */
.clouds {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.clouds__text {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  padding: 20px;
}
.clouds__title {
  width: 100%;
  font-weight: 800;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;  
}
.clouds__paragraph {
  width: 100%;
  font-weight: normal;
  font-size: 1rem;
  line-height: 32px;
  text-align: center;
}
.clouds__container {
  width: 100%;
  height: 230px;
  display: grid;
  background: url('../images/logo_clouds/circle.svg') no-repeat;
  background-size: 120%;
  background-position: top;
  padding: 20px 0;
}
.clouds__container-top {
  display: flex;
  justify-content: space-between;
}
.clouds__container-bottom {
  display: flex;
  justify-content: space-around;
}
.clouds__img {
  width: 80px;
  height: 80px;
}
/* FEATURE-ONE */
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 25px;
  grid-gap: 20px;
}
.features__text {
  grid-column: 1 / span 2;
  display: grid;
  margin-top: 20px;
  justify-content: center;
}
.features__title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;
}
.features__paragraph {
  font-weight: normal;
  font-size: 1rem;
  line-height: 32px;
  text-align: center;
  padding: 20px 35px;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 10px;
}
.card__icon {
  display: grid;
  justify-content: center;
  align-items: center;
}
.card__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
  text-align: center;
}
.card__paragraph {
  display: none;
  font-weight: normal;
  font-size: 1rem;
  line-height: 26px;
  text-align: center;
}
/* TESTIMONIALS */
.testimonials {
  display: grid;
  grid-template-columns: 1fr;
}
.testimonials__banner {
  background-color: var(--brand-turquoise);
  height: 245px;
  padding-top: 60px;
}
.testimonials__title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 32px;
  text-align: center;
  margin-bottom: 10px;
}
.testimonials__paragraph {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 32px;
  padding: 0 27px;
  text-align: center;
}
.testimonials__container {
  background-color: var(--brand-turquoise-back);
  padding: 30px 10px;
}
.carusel {
  background-color: var(--white-primary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 5px;
}
.quotes {
  padding: 10px;
}
.quotes-img {
  width: 30px;
}
.carusel__text {
  grid-column: 1 / span 2;
  font-weight: normal;
  font-size: 1rem;
  line-height: 32px;
  margin-bottom: 10px;
  padding: 10px;  
}
.slider-btns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.slider-btns__left, .slider-btns__right {
  width: 25px;
  height: 30px;
  background-color: var(--white-primary);
}
/* STATS */
.features--stats {
  grid-template-columns: 1fr;
}
.cards-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card__paragraph--stats {
  display: grid;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  text-align: start;
  font-size: 1rem;
  line-height: 26px;
}
.card--stats {
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
}
.card__icon--stats {
  grid-row: 1 / span 2;
}
.card__title--stats {
  grid-column: 2 / span 1;
  text-align: start;
  font-weight: 800;
  font-size: 1rem;
  line-height: 30px;
}
/* FEATURE-TWO */
.feature-two {
  width: 100%;
  display: grid;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.feature-two__text {
  width: 100%;
  display: grid;
}
.feature-two__title {
  font-weight: 800;
  width: 100%;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;
  margin-bottom: 20px;
}
.feature-two__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 20px;
}
.feature-two__picture {
  width: 100%;
}
.feature-two__img {
  width: 100%;
}
/* CTA */
.cta {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: var(--brand-turquoise);
}
.cta__text {
  width: 100%;
  padding: 20px;
}
.cta__title {
  width: 100%;
  font-weight: 800;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;
  margin-bottom: 20px;
}
.cta__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: start;
  margin-bottom: 20px;
}
.cta__paragraph--all-line {
  grid-column: 1 / span 2;
}
.install--cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cta__pictures {
  width: 100%;
  background: url('../images/cta/phone-mockup1.png') no-repeat, url('../images/cta/phone_mockup2.png') no-repeat;
  background-size: 50%;
  background-position: 4rem 1rem, 9rem 6rem;
}
/* FOOTER */
.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  background-color: var(--black-primary);
  color: var(--text-secundary);
  padding: 30px 0 20px 0;
}
.install {
  display: grid;
  grid-column: 1 /span 2;
  grid-template-columns: 1fr 1fr;
}
.install__title {
  grid-column: 1 /span 2;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: center;
  
}
.install__item {
  display: grid;
  justify-content: center;
  align-items: center;
}
.support__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 28px;
  margin-bottom: 7px;
  text-align: start;
}
.legal__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: start;
}
.company {
  display: none;
  grid-gap: 4px;
}
.support {
  display: grid;
  grid-gap: 4px;
  padding-left: 27px;
}
.legal {
  display: grid;
  grid-gap: 4px;
  padding-left: 12px;
}

.support__item, .legal__item, .company__item {
  text-align: start;
  margin-bottom: 12px;
}
.support__item-link, .legal__item-link, .company__item-link {
  font-weight: normal;
  font-size: 0.87rem;
  line-height: 24px;
  color: var(--text-gray);  
}
.mini-foot {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: 1fr;
  justify-content: center;
  padding-top: 5px;
}
.mini-foot::before {
  content: '';
  width: 100%;
  left: 0;
  top: 0;
  height: 1px;
  border-bottom: 1px solid var(--text-gray);
}
.social {
  display: grid;
  grid-column: 1 /span 2;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 5px;
  margin-top: 8px;
}
.social__item {
  display: grid;
  justify-content: center;
}
.copyright {
  grid-column: 1 /span 2;
  font-size: 0.7rem;
  color: var(--text-gray);
  text-align: center;
}
/* -------------------------------------------- */
/* TABLET */
/* HEADER */
@media screen and (min-width: 768px) {
  .header{
    height: 88px;
    padding: 30px 60px;
  }
  .logo {
    width: 50%;
  }
  .navbar {
    display: flex;
    width: 50%;
  }
  .navbar__list {
    width: 100%;
    height: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .hamburger-btn, .x-btn {
    display: none;
  }
  .navbar__item {
    margin: 0 20px;
  }
  .navbar__contact {
    margin: 20px 10px;
    border: none;
    background-color: rgba(217, 232, 239, 0.89);
    border-radius: 10px;
  }
  .navbar__contact:hover {
    background-color: var(--brand-purpple);
    color: var(--white-primary); 
  }
  .navbar__contact-link {
    color: var(--text-primary);
    margin: 0 10px;
    padding-top: 9px;
  }
  .navbar__contact-link:hover {
    color: var(--white-primary);  
  }
  /* HERO */
  .hero {
    grid-template-columns: 1fr 1fr;
  }
  .hero__img {
    grid-column: 2 / span 1;
  }
  .hero__text {
    grid-row: 1 / span 1;
    padding: 88px 0;
  }
  .hero__title {
    padding: 10px 20px 10px 60px;
    text-align: start;
  }
  .hero__paragraph {
    padding-left: 55px;
    text-align: start;
  }
  .hero__discover {
    justify-content: start;
    padding-left: 50px;
  }
  /* CLOUDS */
  .clouds {
    grid-template-columns: 1fr 1fr;
  }
  .clouds__text {
    padding: 20px 0 36px 59px;
    margin: 0;
  }
  .clouds__title {
    text-align: left;
  }
  .clouds__paragraph {
    text-align: left;
  }
  .clouds__container {
    background-size: 80%;
    background-position: initial;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 100px;
  }
  .clouds__container-top, .clouds__container-bottom {
    width: 70%;
    height: 60px;
  }
  .clouds__img {
    width: 60px;
    height: 60px;
  }
  /* FEATURE-ONE */
  .features {
    padding: 30px 82px;
  }
  .features__paragraph {
    width: 545px;
    font-size: 1.125rem;
  }
  .card {
    grid-gap: 25px;
    padding: 14px;
  }
  .card__paragraph {
    display: grid;
  }
  /* TESTIMONIALS */
  .testimonials__title {
    font-size: 3rem;
    line-height: 64px;
  }
  .testimonials__paragraph {
    padding: 0 170px;
  }
  .testimonials__container {
    padding: 50px 24%;
  }
  .quotes {
    padding-left: 50px;
  }
  .quotes-img {
    width: 40px;
  }
  .slider-btns__left {
    padding-left: 39px;
  }
  .slider-btns__right {
    padding-left: 20px;
  }
  /* STATS */
  .features--stats {
    grid-template-columns: 1fr 1fr;
  }
  .features__text--stats {
    grid-column: 1 / span 1;
    padding-top: 77px;
    padding-bottom: 100px;
  }
  .cards-group {
    grid-column: 2 / span 1;
    grid-template-columns: 1fr;
  }
  .features__title--stats {
    font-size: 2rem;
    line-height: 44px;
  }
  .features__paragraph--stats {
    width: 100%;
  }
  .card--stats {
    grid-gap: 3px;
  }
  /* FEATURE TWO */
  .feature-two {
    padding: 10px 74px;
  }
  /* CTA */
  .cta {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .cta__text {
    padding: 15% 0 15% 19%;
  }
  .cta__title {
    text-align: start;
  }
  .install__item--start {
    justify-content: start;
  }
  .cta__pictures {
    width: 100%;
    background-position: -1rem -3rem, 9rem 17rem;
    padding-right: 19%;
  }
  /* FOOTER */
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .install {
    grid-column: 1 / span 3;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 30px;
  }
  .install__title {
    grid-column: 1 / span 2;
  }
  .company {
    display: grid;
    justify-self: center;
    padding-left: 80px;
  }
  .support {
    padding-left: 0;
    justify-self: center;
    padding-left: 60px;
  }
  .legal {
    justify-self: center;
    padding-right: 40px;
  }
  .company__title {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 28px;
    text-align: start;
    margin-bottom: 10px;
  }
  .support__title {
    text-align: start;
    margin-bottom: 10px;
  }
  .legal__title {
    text-align: start;
    margin-bottom: 10px;
  }
  .company__item, .support__item, .legal__item {
    text-align: start;
  }
  .support__item-link, .legal__item-link, .company__item-link {
    font-size: 1.14rem;
    line-height: 24px;
  }
  .mini-foot {
    grid-column: 1 / span 3;
    grid-template-columns: 1fr 1fr;
  }
  .social {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .copyright {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding-top: 15px;
  }
  .mini-foot::before {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
} 
/* --------------------------------- */
/* DESKTOP */
@media screen and (min-width: 1024px) {
  /* HEADER */
  .header {
    padding: 10px 142px 0px 166px;
    height: 54px;
  }
  .navbar__item {
    margin: 0 10px;
  }
  /* HERO */
  .hero__text {
    grid-template-rows: 3fr 0.5fr 1fr;
    padding: 0 5% 30% 23%;
  }
  .hero__title {
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 98px;
    padding: 0 15% 0 0;
  }
  .hero__discover {
    padding: 34px 0 0 0;
    align-self: start;
  }
  .hero__paragraph {
    font-size: 1.25rem;
    padding: 10px 0 0 0;
  }
  /* CLOUDS */
  .clouds {
    grid-template-columns: 44% 56%;
  }
  .clouds__text {
    padding: 9% 6% 15% 26%;
  }
  .clouds__title {
    font-size: 3rem;
    line-height: 64px;
  }
  .clouds__paragraph {
    font-size: 1.125rem;
    line-height: 32px;
  }
  .clouds__container {
    background-size: 68%;
    padding-left: 5%;
    height: 280px;
    padding-top: 24px;
    padding-bottom: 61px;
  }
  .clouds__container-top, .clouds__container-bottom {
    width: 61%;
    height: 100%;
  }
  .clouds__img {
    width: 104px;
    height: 104px;
  }
  .clouds__container-bottom {
    margin-top: 10px;
    padding: 10px 40px;
  }
  /* FEATURES-ONE */
  .features {
    padding: 30px 165px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 34px;
  }
  .features__text {
    grid-column: 1 / span 3;
    margin-top: 4px;
  }
  .features__title {
    font-size: 3rem;
    line-height: 64px;
  }
  .features__paragraph {
    padding: 11px 0;
  }
  .card {
    padding: 19px 10px 10px 10px;
    grid-gap: 21px;
  }
  .card__paragraph {
    font-size: 0.8rem;
  }
  /* TESTIMONIALS */
  .testimonials {
    grid-template-columns: 49% 51%;
  }
  .testimonials__banner {
    height: 100%;
    display: grid;
    justify-content: center;
    padding-top: 0;
  }
  .testimonials__title {
    align-self: end;
    margin-bottom: 0;
    padding-left: 30px;
  }
  .testimonials__paragraph {
    padding: 0 113px 0 161px;
    text-align: start;
  }
  .testimonials__container {
    padding: 32px 23% 32px 0;
  }
  .carusel {
    grid-template-columns: 2fr 1fr;
    padding: 40px;
    grid-gap: 9px;
  }
  .carusel__text {
    font-size: 1.125rem;
    padding: 0;
  }
  .quotes {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    display: grid;
    justify-content: end;
  }
  .quotes-img {
    width: 80px;
    height: 68px;
  }
  .client {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
  .slider-btns__left {
    padding-left: 52px;
  }
  /* STATS */
  .features--stats {
    grid-template-columns: 1fr 1fr;
    padding: 3% 10%;
    margin-bottom: 0;
  }
  .features__text--stats {
    grid-column: 1 / span 1;
  }
  .features__title--stats {
    font-weight: 800;
    font-size: 3rem;
    line-height: 64px;
    text-align: start;
  }
  .features__paragraph--stats {
    text-align: start;
    padding-left: 0;
  }
  .cards-group {
    grid-template-columns: 1fr 1fr;
    padding-top: 98px;
    padding-bottom: 136px;
  }
  .card__title--stats {
    font-size: 1.75rem;
    line-height: 40px;
  }
  /* FEATURE TWO */
  .feature-two {
    padding: 0 10% 5% 10%;
  }
  .feature-two__text {
    grid-template-columns: 1fr 1fr;
  }
  .feature-two__title {
    font-size: 2.5rem;
    line-height: 54px;
    text-align: left;
    padding-right: 10%;
  }
  .feature-two__paragraph {
    text-align: left;
  }
  .feature-two__picture {
    grid-column: 1 / span 2;
  }
  /* CTA */
  .cta__text {
    padding: 10% 7% 10% 19%;
  }
  .cta__title {
    font-size: 48px;
    line-height: 64px;
  }
  .cta__pictures {
    background-size: auto;
    background-position: 18% -6rem, 80% 5rem;
  }
  /* FOOTER */
  .footer {
    height: 393px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 0;
    
  }
  .company {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding-left: 0;
    grid-gap: 0;
    justify-self: end;
  }
  .support {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    padding-left: 0;
    grid-gap: 0;
  }
  .legal {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    padding-right: 0;
    grid-gap: 0;
    justify-self: left;
  }
  .install {
    grid-column: 4 / span 1;
    grid-template-columns: 1fr;
  }
  .install__title {
    padding-bottom: 0;
    text-align: left;
    grid-column: 1 / span 1;
  }
  .install__item {
    justify-content: left;
  }
  .company__title, .legal__title {
    margin-bottom: 5px;
  }
  .support__title {
    margin-bottom: -30px;
  }
  .mini-foot {
    height: 45px;
    grid-column: 1 / span 4;
    margin-top: 20px;
  }
  .social {
    margin-top: 20px;
    padding: 0 200px;
  }
  .copyright {
    padding-top: 27px;
  }
}
